@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

.tooltip-container{
position: relative;
display: inline-block;
}

.tooltip{
    position:absolute;
    top:calc(-100%-50%);
    transform: translateY(15%);
    background-color: rgba(73, 64, 64, 0.8);
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    z-index: 1;
    min-width: 100%;
}